header {
    background: #07294D;
}
.navbar-brand {
    font-family: "cambria";
    font-size: 35; 
}
.nav-link {
    font-family: "arial";
}
html body {
    background: #FFC600;
}
body {
    font-family: "consolas";
    font-size: 1rem;
}

.navbar-expand-md .navbar-nav .nav-link {
    padding-left: 1rem;
    padding-right: 1rem;
}

.content {
    padding: .25rem .5rem;
}

.jumbotron-heading{
    /* padding: 1.5rem; */
    background: 0;
}

.jumbotron img {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.blockquote-footer {
    background: 0;
}

.jumbotron {
    padding-top: .25rem;
    padding-bottom: .0em;
    padding-left: 1rem;
    padding-right: 1rem;
}

html {
    height: 100vh;
}

#editor {
    width: 48%;
    height: 90%;
    float: left;
    padding:0;
    margin: auto;

    
}
#editor-form {
    width: 100%;
    margin: auto;
    overflow-y: auto;
    overflow-x:hidden;
    height: 75vh;

}
#preview {
    margin-left: 50%;
    height: 90%; 
    aspect-ratio: 1/1.4142;
    background-color:white;
    font-size: .6rem;
}

#preview_text {
    width: 75%;
    height: 75%;
    margin: auto;
    padding: 0;

    padding-top: 10%;
    text-align: left;
    vertical-align: top;
    /*line-height: 100%;
    line-*/
    word-wrap: break-word;

    line-height: normal;
}


#preview_contact div,
#preview_name div, li {
    text-align: left;
    margin: 0;
    padding: 0;
    display:inline;
}

#preview_name div {
    text-align: left;
}

#preview h2 {
    font-size: .8rem;
    margin: 0;
    font-weight: bold;
}

#preview p {
    line-height: normal;
}

#preview_name {
    text-align: left;
    font-size: 1.2rem;
    font-weight: bold;
}

